{% extends 'layout.html.twig' %}

{% block title %}
    {{ 'dashboard.title'|trans }} - {{ parent() }}
{% endblock %}

{% block main %}
    <div class="mb-8">
        <h1 class="inline-block text-3xl font-extrabold tracking-tight text-gray-900 dark:text-white">
            {{ 'dashboard.welcome'|trans({'%firstName%': app.user.firstName })}}
        </h1>
        <p class="mt-1 text-lg text-gray-500 dark:text-gray-400">{{ 'dashboard.description'|trans }}</p>
    </div>
{% endblock %}
