{% extends 'layout.html.twig' %}

{% block sub_menu %}{% include 'common/menu.html.twig' %}{% endblock %}

{% block main %}
{% include 'common/breadcrumb.html.twig' with { items: [] } only %}

<div class="dark:bg-gray-900 flex-1 p-4 grid grid-cols-1 md:grid-cols-2 gap-5">
    <h1>DASHBOARD</h1>
</div>
{% endblock %}

