{% extends 'layout.html.twig' %}

{% block main %}
    <h1>DASHBOARD</h1>
    <a href="{{ path('app_events_list') }}">{{ 'event.list.title'|trans }}</a>
    <a href="{{ path('app_profile_edit') }}"></a>
{% endblock %}
