{% extends 'layout.html.twig' %}

{% block title %}
    {{ 'tag.add.title'|trans }} - {{ parent() }}
{% endblock %}

{% set period %}{% include 'app/event/_period.html.twig' with { startDate: event.startDate, endDate: event.endDate} only %}{% endset %}

{% block main %}
    {% include 'common/breadcrumb.html.twig' with { items: [
        { title: 'event.list.title'|trans, path: path('app_events_list') },
        { title: event.title, path: path('app_events_dashboard', { eventUuid: event.uuid }) },
        { title: 'tag.list'|trans, path: path('app_tags_list', { eventUuid: event.uuid }) },
        { title: 'tag.add.title'|trans },
    ] } only %}
    <div class="p-4 mb-4 bg-white rounded-lg shadow sm:p-6 xl:p-8 dark:bg-gray-800">
        <h1 class="mb-4 text-xl font-bold dark:text-white">{{ 'tag.add.title'|trans }}</h1>
        {% include 'common/alert/info.html.twig' with { title: 'tag.form.event_period'|trans({'%period%': period }) } only %}
        {{ form(form) }}
    </div>
{% endblock main %}
