{% extends 'layout.html.twig' %}

{% block title %}
    {{ 'event.add.title'|trans }} - {{ parent() }}
{% endblock %}

{% block sub_menu %}{% include 'common/menu.html.twig' %}{% endblock %}

{% block main %}
    {% include 'common/breadcrumb.html.twig' with { items: [
        { title: 'event.list.title'|trans, path: path('app_events_list') },
        { title: 'event.add.title'|trans },
    ] } only %}
    <div class="p-4 mb-4 bg-white rounded-lg shadow sm:p-6 xl:p-8 dark:bg-gray-800">
        <h1 class="mb-4 text-xl font-bold dark:text-white">{{ 'event.add.title'|trans }}</h1>
        {{ form(form) }}
    </div>
{% endblock main %}
