{% extends 'layout.html.twig' %}

{% block title %}
    {{ 'event.edit.title'|trans({ '%title%': event.title }) }} - {{ parent() }}
{% endblock %}

{% block header %}
    {% include 'app/event/_menu.html.twig' with { eventUuid: event.uuid, eventName: event.title } %}
{% endblock %}

{% block main %}
    {% include 'common/breadcrumb.html.twig' with { items: [
        { title: 'event.list.title'|trans, path: path('app_events_list') },
        { title: event.title, path: path('app_events_dashboard', { eventUuid: event.uuid }) },
        { title: 'common.edit'|trans },
    ] } only %}

    <div class="p-4 mb-4 bg-white rounded-lg shadow sm:p-6 xl:p-8 dark:bg-gray-800">
        <h1 class="mb-4 text-xl font-bold dark:text-white">{{ 'event.edit.title'|trans({ '%title%': event.title }) }}</h1>
        {{ form(form) }}
    </div>
{% endblock main %}
